<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Admin</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        
        {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
        
        <label for="nom">Nom:</label><br>
        <input type="text" name="nom" ><br>
        
        <label for="nom">Prenom:</label><br>
        <input type="text" name="prenom" ><br>
        
        <label for="nom">Nom d'utilisateur:</label><br>
        <input type="text" name="username" ><br>
        
        <label for="nom">email:</label><br>
        <input type="email" name="email" ><br>
        
        <label for="nom">Mot de passe:</label><br>
        <input type="password" name="password1" ><br>
        
        <label for="nom">Comfirmer le mot de passe:</label><br>
        <input type="password" name="password2" ><br>
        
        <input type="submit" value="S'inscrire">
    </form>
</body>
</html>