<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Admin</title>
</head>
<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <label for="">{{ field.label }}</label><br>
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <div class="phone_number">
            <span>+261</span>
            <input type="tel" name="number" pattern="[0-9]{9}" placeholder="XX XXX XX"><br>
        </div>
        <input type="submit" value="S'inscrire">
    </form>
</body>
</html>